<h2>Add a Pokemon</h2>

<form action="/pokemons" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input type="text" name="species" placeholder="species">
  <input type="text" name="nickname" placeholder="nickname">
  <input type="text" name="level" placeholder="level">
  <button>create</button>
</form>