<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
</nav>

<h1>MOVIE DATABASE</h1>

<form action="/data">
  <input type="text" name="movie" placeholder="movie">
  <button>enter</button>
</form>